################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MuMonitor/.vs
/MuMonitor/bin
/MuMonitor/obj
