<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ProcessName" value="main"/>
    <!--Minimal number: 3 minutes-->
    <add key="CheckIntervalInMins" value="30"/>
    <!--Only 163.com and outlook.com supported-->
    <add key="EmailAddress" value="email@163.com"/>
    <add key="EmailPassword" value="emailpassword"/>
    <!--True: shutdown computer if all MU instances are disconnected, False-->
    <add key="ShutdownOnDisconnected" value="False"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
